<style>
  :host {
    font-family: "Rakuten Sans";
    font-size: 14px;
    color: #002f52;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .p-16 {
    padding: 1.231em;
  }



  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<app-home-page style="height: 100%;"></app-home-page>

<router-outlet></router-outlet>
